
/* @font-face {
    font-family: 'GillSans';
    src: url('E:\porfolio\Gill-sans-Font.zip\GillSans-Bold');
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}
.navbar{
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa ;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}
.nav-link{
    padding-left: 40px !important;
    color: black !important;
}
.nav-link:hover{
    color: tomato !important;
}

.intro{
    padding-top: 170px;
    background-image: url('./image/background1.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
#hello{
    font-size: 30px;
    font-weight: bold;
    color: tomato;
}
.intro a{
    font-size: 30px;
    padding: 0 8px;
}
.intro a:hover{
    font-size: 40px;
}
.intro h2{
    color:#f75123;
}
#profession{
    font-size: 22px;
    color: #1dbf5b;
    font-weight: bold;
}
#myname{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.social-links{
    padding: 10px;
}
#fb{
    color: #1877F2;
}
#insta{
    color: #DD2A7B;
}
#twit{
    color: #1DA1F2;
}
#tik{
    color: #000000;
}
.aboutBg{
    background-color: #fafafa; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
}
.about-photo img{
    padding-left: 50px;
}

.about-me{
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #fafa;
}

.about-me p{
    text-align: justify;
    padding-top: 10px;
    font-weight: bolder;
}
.about-me #profession{
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.my-skills{
    background: #fafafa;
    padding-top: 80px;
    padding-bottom: 50px;
}

.my-skills h1{
    text-align: center;
}

.my-skills i{
    font-size: 80px;
}
.skills-box{
   overflow: hidden;

}
.skillBg{
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.skillBg:hover{
    transition: transform 0.8s ease;
    transform: scale(1.2);
}

.skills{
    color: orangered;
}

.portfolio{
    background-image: url('./image/bg3.png');
    background-repeat: no-repeat;
    margin-top: 30px;
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.portfolio p{
    font-size: 23px;
    color: orangered;
}

.portfolio button{
    margin: 20px;
}

.projects{
    padding-top: 30px;
}
.projects .col-4{
    width: 30%;
    margin: 10px;
}
.projects .col-4 img{
    object-fit: contain;
    width: 100%;
    border-radius: 13px;
}
.projectSite{
    overflow: hidden;
}
.projectSite img:hover{
    transform: scale(1.3);
    transition: transform 1s ease;
}
.footer{
    background-color: #a19c9cb9;
    padding: 20px;
    font-size: 14px;
}
.about-photo img{
    border-radius: 20%;
}
.form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 20px;
}
  
.form-heading {
    text-align: center;
    margin: 2em;
    color: #64ffda;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
}
  
.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
  
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
.sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #64ffda;
    transition: all ease-in-out 0.3s;
}
  
.sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #64ffda;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
  
.form-card1 {
    background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
    border-radius: 22px;
    transition: all 0.3s;
}
  
.form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}
  
.form-card2 {
    border-radius: 0;
    transition: all 0.2s;
}
  
.form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}



